@import url(https://fonts.googleapis.com/css2?family=Hahmlet:wght@300&display=swap);
@import url(https://fonts.googleapis.com/css?family=VT323);
@font-face {
  font-family: 'NeoDunggeunmo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: black;
}

.wrapper {
  position: relative;
  padding: 30px 40px;
  max-width: 780px;
  margin: 0 auto !important;
  min-height: 70vh;
  font-size: 0.8rem;
	font-family: 'Hahmlet', serif;
	font-weight: normal;
  overflow: hidden;
  line-height: 1.9;
  margin: 0 0.5em;
  color: #78cd6e;
  background-color: #121b14;
  background-image: linear-gradient(transparent 50%, rgba(10, 15, 8, 0.1) 50%), radial-gradient(transparent 65%, rgba(2, 10, 1, 0.6) 100%);
  background-size: 15px, 100%;
}

h1{
  font-family: 'NeoDunggeunmo';
}

.wrapper:after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  transform: translate3D(0, 0, 0);
  width: 100vw;
  height: 120px;
  mix-blend-mode: screen;
  background-color: black;
  background-image: linear-gradient(transparent 50%, rgba(0, 0, 0, 0.5) 50%), linear-gradient(to top, #050f05, rgba(0, 0, 0, 0) 110%);
  background-size: 15px 15px, 100%;
  animation: scan 2.5s linear infinite, blink 0.6s infinite;
}

@keyframes scan {
  0% {
    transform: translate3D(0, -100px, 0);
  }
  100% {
    transform: translate3D(0, 600px, 0);
  }
}
h1 {
  padding: 0 10px;
  background-color: rgba(20, 40, 30, 0.8);
  border: 3px solid rgba(20, 40, 30, 0.8);
}

.cap img { 
  display: block;
	height: auto;
	margin: 0 auto;
	width: 100%;
 }
